* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  max-width: 2500px;
  min-width: 350px;
  margin: auto;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1.6rem;
  transition: all ease-in-out 0.8s;
  color: #212529;
  overflow-x: hidden;
  position: relative;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
main {
  position: relative;
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #219ebc;
  overflow: hidden;
  z-index: -89;
}
.background li {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #1d8ea9;
  color: transparent;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 7s ease-in forwards infinite;
}
undefined .background li:nth-child(0) {
  animation-delay: 0s;
  left: 93vw;
  top: 56vh;
}

.background li:nth-child(1) {
  animation-delay: 2s;
  left: 62vw;
  top: 71vh;
}

.background li:nth-child(2) {
  animation-delay: 4s;
  left: 9vw;
  top: 23vh;
}

.background li:nth-child(3) {
  animation-delay: 6s;
  left: 59vw;
  top: 68vh;
}

.logo {
  border: 5px solid white;
  padding: 8px 15px;
  border-radius: 10px;
}

.background li:nth-child(4) {
  animation-delay: 8s;
  left: 86vw;
  top: 93vh;
  border-color: #24adce;
}

.background li:nth-child(5) {
  animation-delay: 10s;
  left: 32vw;
  top: 35vh;
}

.background li:nth-child(6) {
  animation-delay: 12s;
  left: 41vw;
  top: 9vh;
  border-color: #24adce;
}

.background li:nth-child(7) {
  animation-delay: 14s;
  left: 74vw;
  top: 88vh;
}

.background li:nth-child(8) {
  animation-delay: 16s;
  left: 18vw;
  top: 45vh;
  border-color: #24adce;
}

.background li:nth-child(9) {
  animation-delay: 18s;
  left: 29vw;
  top: 15vh;
  border-color: #24adce;
}

main {
  position: relative;
}

header {
  width: 100%;
  color: white;
  height: 100%;
  position: relative;
  background-color: rgba(34, 38, 42, 0.667);
  /* background: #339af0; */
  padding: 20px 10px 80px 10px;
}

#background-video {
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.navigations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.navigations.sticky {
  width: 100%;
  position: fixed;
  background-color: #212529;
  top: 0px;
  left: 0px;
  z-index: 80;
  color: white;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.01);
  padding: 20px 20px 10px 20px;
}

.menu {
  display: none;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.8s;
}

nav li:hover {
  font-weight: 500;
  transition: inherit;
}

a.links:link,
a.links:visited,
a.btn-links:visited {
  text-decoration: none;
  display: inline-block;
}

a.btn-links:link,
a.btn-links:visited {
  color: white;
}

.button {
  cursor: pointer;
  padding: 10px 10px;
  color: white;
  background-color: #219ebc;
  border-radius: 6px;
  margin-right: 0px;
}

.button:hover,
button:hover {
  background-color: #219dbce7;
}

button {
  display: inline-block;
  width: max-content;
  border: none;
  font-size: 2rem;
  margin: auto;
  transition: inherit;
  cursor: pointer;
}

.header-text {
  width: 70%;
  margin: 80px auto 50px auto;
  text-align: center;
}

.title {
  font-size: 4.5rem;
  line-height: 1.1;
  animation: title 1s ease-in-out;
}

@keyframes title {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}

h3 {
  font-size: 4.8rem;
}

.desc {
  width: 100%;
  margin: 20px auto;
  font-size: 2.4rem;
  line-height: 1.5;
  animation: desc 1.5s ease-in;
}

@keyframes desc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.learn {
  /* margin-bottom: 50px; */
  animation: learn 0.7s ease-in;
}

@keyframes learn {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

section {
  background-color: transparent;
  padding: 80px 40px;
  border-top: 1px solid #dee2e6;
  transition: all 1s ease-in;
  position: relative;
  color: white;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.values {
  position: relative;
  border: none;
}

.values-desc {
  font-size: 2.5rem;
  /* color: #4dabf7; */
  /* color: #219ebc; */
  color: white;
  text-align: center;
  font-weight: 700;
}

.value {
  margin-top: 20px;
  padding-bottom: 40px;

  overflow: hidden;
  position: relative;
  height: 80rem;
}

figure {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  transition: transform 0.5s ease;
}

.btn {
  position: absolute;
  z-index: 10;
  border: none;
  background: rgba(217, 215, 215, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  padding: 10px 22px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.btn-right {
  right: 30px;
}

.btn-left {
  left: 30px;
}

.btn p {
  width: max-content;
  margin: auto;
  font-size: 3.5rem;
  font-weight: 400;
  position: relative;
  top: 20%;
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #fff;
  /* background-color: #888; */
  opacity: 1;
}

.fig-back {
  width: 100%;
  margin: auto;
  background-color: #e9ecef;
  color: #212529;
  border-radius: 10px;
  padding: 30px 30px;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.076);
  height: auto;
}

figure h3 {
  font-size: 3.5rem;
}

.module-desc {
  font-size: 1.8rem;
  width: 90%;
  margin: 0px auto;
  line-height: 1.5;
}

.value-img {
  width: 70%;
  margin: 10px auto;
  height: 450px;
}

.hidden {
  display: none;
}

.set-text {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.settings-heading {
  font-size: 2.8rem;
}

.heading-desc {
  width: 60%;
  font-size: 2rem;
  line-height: 1.4;
  margin: 10px auto 0px auto;
}

/* #app {
  max-width: 100%;
} */

/* .trading-vue {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
} */

.configs {
  /* padding: 30px; */
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  margin-bottom: 10px;
}

.config-img {
  width: 130%;
}

.second {
  padding-left: 20px;
}

/* .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #74c1fc26;
  margin-bottom: 10px;
}

.svgs {
  width: 30px;
  height: 30px;
  position: relative;
  left: 25%;
  top: 20%;
} */

h4 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

h5 {
  font-size: 2.3rem;
  margin-bottom: 20px;
  margin-top: 30px;
}

.config-desc {
  font-size: 1.8rem;
  line-height: 1.5;
}

.sub-desc {
  font-size: 1.7rem;
  line-height: 1.5;
}

.block {
  width: 100%;
  padding: 50px 30px;
  text-align: center;
  background-color: white;
  border-top: 1px solid #212529;
}

.block-cont {
  width: 70%;
  margin: auto;
}

.block-img {
  display: block;
  width: 50%;
  margin: auto;
}

.faqs {
  background-color: white;
  color: #212529;
}

.faq-desc {
  color: #219ebc;
}

.faq {
  width: 100%;
  margin: 30px auto;
}

.faq-item {
  padding: 20px;
  width: 90%;
  margin: auto;
  border-bottom: 1px solid rgb(39, 39, 39);
}

.first-faq {
  border-top: 1px solid rgb(39, 39, 39);
}

.question {
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 0px;
  gap: 3px;
}

.arr-down {
  width: 30px;
  transition: opacity 0.8s ease, height 0.5s ease;
}

.answer {
  width: 95%;
  margin: auto;
  font-size: 2rem;
  line-height: 1.5;
  color: #495057;
  transition: opacity 0.8s ease, height 0.5s ease;
  opacity: 0;
  height: 0;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.faq-list {
  margin: 15px 0px;
}

ul li.list {
  list-style-type: none;
  margin-bottom: 5px;
}

.answer-img {
  display: block;
  width: 80%;
  margin: 10px auto;
}

.visible {
  display: block;
}

.anim {
  opacity: 1;
  height: auto;
}

.arr-up {
  transform: rotateX(180deg);
}

.fa-slider {
  position: relative;
  width: 100%;
}

.faq-btn {
  position: absolute;
  border: none;
  background: rgba(217, 215, 215, 0.32);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  padding: 10px 22px;
  cursor: pointer;
  top: 40%;
  /* transform: translateY(-50%); */
  width: max-content;
  z-index: 100;
}

.faq-btn-left {
  left: 0px;
}

.faq-btn-right {
  right: 0px;
}

.faq-slider {
  position: relative;
  height: 48rem;
  width: 90%;
  margin: 10px auto;
  overflow: hidden;
}

.faq-slide {
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  transition: transform 0.5s ease;
  z-index: 4;
}

/* FOOTER SECTION */

footer {
  width: 100%;
  padding: 40px;
  padding-bottom: 10px;
  /* background-color: #339af0; */
  background-color: #219ebc;
  color: white;
}

.copyright {
  font-size: 1.4rem;
  text-align: center;
}

div.socials {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
}

.social-ink {
  display: inline-block;
}

.social-icons {
  width: 30px;
  display: inline-block;
  cursor: pointer;
  margin-right: 30px;
  height: 29px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.271);
  backdrop-filter: blur(2px);
  z-index: 150;
  opacity: 1;
  transition: inherit;
}

.mobile-nav {
  position: fixed;
  width: 100%;
  top: 100px;
  z-index: 200;
  transition: inherit;
  opacity: 0;
  /* padding: 30px 0px; */
}

.menus {
  width: 90%;
  margin: 0px auto;
  background-color: white;
  border-radius: 5px;
  font-size: 1.8rem;
}

.mobile-nav li {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.293);
  cursor: pointer;
  text-align: center;
  display: block;
  list-style-type: none;
  color: #212529;
}

.mobile-nav li a.mob-start:link,
.mobile-nav li a.mob-start:link:visited {
  text-decoration: none;
  display: inline-block;
  color: #212529;
}

@media only screen and (max-width: 2500px) {
  html {
    font-size: 65%;
  }

  body {
    font-size: 3rem;
  }

  header {
    padding-top: 20px;
    padding-bottom: 150px;
  }

  .navigations {
    padding: 50px;
  }

  h1 {
    font-size: 4.8rem;
  }

  nav li {
    font-size: 3rem;
    margin-right: 40px;
  }

  .button {
    padding: 20px 30px;
  }

  .title {
    font-size: 5.8rem;
  }

  .desc {
    width: 90%;
    margin-top: 30px;
    font-size: 3.8rem;
  }

  .htext-cont {
    margin-bottom: 80px;
  }

  .learn {
    font-size: 3.5rem;
    font-family: inherit;
  }

  .values-desc {
    font-size: 3.8rem;
  }

  .values {
    height: 120vh;
    padding-top: 30px;
  }

  .value {
    height: 100vh;
  }

  .btn p {
    font-size: 4.4rem;
  }

  .btn-right {
    right: 10px;
  }

  .btn-left {
    left: 10px;
  }

  .dots__dot {
    width: 2rem;
    height: 2rem;
  }

  figure h3 {
    font-size: 5.2rem;
  }

  .module-desc {
    font-size: 3.4rem;
    margin: 40px auto;
  }

  .fig-back {
    padding: 30px;
  }

  .value-img {
    width: 100%;
    height: 450px;
  }

  .settings-heading {
    font-size: 5.2rem;
  }

  .heading-desc {
    font-size: 3.4rem;
    margin-top: 20px;
  }

  .configs {
    padding: 0px 50px;
    gap: 120px;
  }

  .config-img {
    width: 70%;
  }

  .text-block {
    width: 80%;
  }

  .second {
    padding-left: 60px;
  }

  h4 {
    font-size: 4.8rem;
  }

  h5 {
    font-size: 4.6rem;
  }

  .config-desc {
    font-size: 3rem;
  }

  .sub-desc {
    font-size: 2.9rem;
  }

  .question {
    font-size: 3.2rem;
  }

  .answer {
    font-size: 3rem;
  }

  footer {
    padding-right: 60px;
    padding-left: 60px;
  }

  .footer-desc {
    font-size: 2.8rem;
    margin-top: 30px;
  }

  .social-icons {
    width: 50px;
    height: 48px;
    margin-right: 50px;
  }

  .copyright {
    font-size: 2.8rem;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 2000px) {
  html {
    font-size: 62.5%;
  }

  .logo {
    font-size: 3.5rem;
  }

  .navigations {
    padding: 30px;
  }

  h1 {
    font-size: 4.6rem;
  }

  nav li {
    font-size: 2.8rem;
    margin-right: 30px;
  }

  .button {
    padding: 10px 20px;
  }

  .start-btn {
    font-size: 3rem;
  }

  .desc {
    width: 100%;
    font-size: 3.4rem;
    margin-top: 50px;
  }

  .learn {
    font-size: 3rem;
  }

  .dots__dot {
    width: 1.5rem;
    height: 1.5rem;
  }

  figure h3 {
    font-size: 4.8rem;
  }

  .module-desc {
    font-size: 3rem;
    /* margin: 40px auto; */
  }

  .value {
    height: 130vh;
  }

  .value-img {
    height: 500px;
    position: relative;
    top: -50px;
  }

  .settings {
    margin-top: 80px;
  }

  .settings-heading {
    font-size: 4.6rem;
  }

  .heading-desc {
    font-size: 3rem;
  }

  h4 {
    font-size: 4rem;
  }

  h5 {
    font-size: 3.8rem;
  }

  .config-desc {
    font-size: 2.8rem;
  }

  .sub-desc {
    font-size: 2.7rem;
  }

  .question {
    font-size: 3rem;
  }

  .answer {
    font-size: 2.8rem;
  }

  footer {
    padding-right: 60px;
    padding-left: 60px;
  }

  .footer-desc {
    font-size: 2.6rem;
  }

  .social-icons {
    width: 50px;
    height: 50x;
    margin-right: 50px;
  }

  .copyright {
    font-size: 2.6rem;
  }
}

@media only screen and (max-width: 1500px) {
  header {
    padding-bottom: 80px;
  }

  .navigations {
    padding: 20px;
  }

  h1 {
    font-size: 3.2rem;
  }

  nav li {
    font-size: 2rem;
    margin-right: 30px;
  }

  .button {
    padding: 10px 20px;
  }

  .title {
    font-size: 4.8rem;
  }

  .desc {
    font-size: 2.6rem;
    margin-top: 30px;
  }

  .htext-cont {
    margin-bottom: 50px;
  }

  .learn {
    font-size: 2.4rem;
  }

  .value {
    height: 65rem;
  }

  .values-desc {
    font-size: 3rem;
  }

  .fig-back {
    padding: 30px;
  }

  .btn-right {
    right: 20px;
  }

  .btn-left {
    left: 20px;
  }

  .dots__dot {
    width: 1rem;
    height: 1rem;
  }

  .btn p {
    font-size: 3.4rem;
  }

  figure h3 {
    font-size: 3.8rem;
  }

  .module-desc {
    font-size: 2.4rem;
    margin: 20px auto 10px auto;
  }

  .value-img {
    width: 30%;
    /* height: 500px; */
  }

  .growth {
    height: 200px;
  }

  .set-text {
    margin-bottom: 40px;
  }

  .settings {
    margin-top: 200px;
    border: none;
  }

  .settings-heading {
    font-size: 3.5rem;
  }

  .second {
    padding-left: 30px;
  }

  .configs {
    padding: 0px 50px;
    gap: 90px;
  }

  .config-img {
    width: 80%;
  }

  .heading-desc {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 3.4rem;
  }

  h5 {
    font-size: 3.2rem;
  }

  .config-desc {
    font-size: 2.3rem;
  }

  .sub-desc {
    font-size: 2.2rem;
  }

  .question {
    font-size: 2.4rem;
  }

  .answer {
    font-size: 2rem;
  }

  .footer-heading {
    font-size: 2.8rem;
  }

  .footer-desc {
    font-size: 2rem;
  }

  .social-icons {
    width: 35px;
    height: 35x;
    margin-right: 30px;
  }

  .copyright {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1200px) {
  .logo {
    border: 2px solid white;
    padding: 8px 15px;
  }

  .start-btn {
    font-size: 2rem;
  }

  .faq-slider {
    height: 30rem;
  }
}

@media only screen and (max-width: 1000px) {
  .logo {
    font-size: 2rem;
  }

  html {
    font-size: 60%;
  }

  nav li {
    margin-right: 10px;
  }

  .header-text {
    width: 80%;
  }

  .desc {
    font-size: 2.4rem;
  }

  .title {
    font-size: 4.4rem;
  }

  .learn {
    font-size: 2.2rem;
  }

  .value {
    height: 80rem;
  }

  .values-desc {
    font-size: 2.8rem;
  }

  .fig-back {
    padding: 30px;
  }

  .btn-right {
    right: 10px;
  }

  .btn-left {
    left: 10px;
  }

  .btn p {
    font-size: 3rem;
  }

  figure h3 {
    font-size: 3.6rem;
  }

  .module-desc {
    width: 90%;
    font-size: 2.2rem;
  }

  .value-img {
    width: 70%;
    height: 400px;
  }

  .settings {
    margin-top: 150px;
    border: none;
  }

  .settings-heading {
    font-size: 3.4rem;
  }

  .heading-desc {
    width: 80%;
    font-size: 2.4rem;
  }

  .configs {
    gap: 30px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .second {
    padding-left: 10px;
  }

  .config-img {
    width: 100%;
  }

  h4 {
    font-size: 2.9rem;
  }
  h5 {
    font-size: 2.7rem;
  }

  .config-desc {
    font-size: 2rem;
  }

  .sub-desc {
    font-size: 1.9rem;
  }

  .faq {
    width: 100%;
  }

  .question {
    font-size: 2.2rem;
  }

  .answer {
    font-size: 2rem;
  }

  footer {
    padding-left: 30px;
    padding-right: 30px;
  }

  .footer-desc {
    font-size: 1.8rem;
    width: 80%;
  }

  .copyright {
    font-size: 1.8rem;
  }

  .social-icons {
    width: 28px;
    margin-right: 20px;
    height: 28px;
  }
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 60%;
  }

  header {
    padding-top: 10px;
  }

  .navigations {
    padding-right: 10px;
    padding-left: 10px;
  }

  h1 {
    font-size: 2.6rem;
  }

  nav li {
    font-size: 1.8rem;
    margin-right: 10px;
  }

  nav {
    display: none;
  }

  .menu {
    display: block;
    width: 30px;
    cursor: pointer;
  }

  .button {
    padding: 10px;
  }

  .header-text {
    width: 90%;
    /* margin: 0px; */
  }

  .htext-cont {
    margin-bottom: 20px;
  }

  .title {
    font-size: 3.6rem;
  }

  .desc {
    font-size: 1.8rem;
    margin-top: 10px;
  }

  .learn {
    font-size: 1.6rem;
  }

  section {
    padding: 40px 30px;
  }

  .values {
    height: auto;
  }

  .values-desc {
    font-size: 2.2rem;
  }

  .value {
    margin-top: 0px;
    height: 75rem;
  }

  .fig-back {
    width: 95%;
    padding: 30px 20px;
  }

  figure h3 {
    font-size: 3rem;
  }

  .module-desc {
    width: 90%;
    font-size: 1.8rem;
  }

  .value-img {
    width: 60%;
  }

  .btn {
    padding: 5px 10px;
  }

  .btn p {
    font-size: 2.6rem;
  }

  .btn-left {
    left: 5px;
  }

  .btn-right {
    right: 5px;
  }

  .settings {
    margin-top: 45px;
  }

  .set-text {
    width: 100%;
    text-align: center;
    margin: 40px auto 65px auto;
  }

  p.heading-desc {
    width: 100%;
    font-size: 2rem;
    margin-top: 10px;
  }

  .settings-heading {
    font-size: 2.8rem;
  }

  .configs {
    width: 100%;
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .config-img {
    width: 60%;
  }

  .first {
    order: 1;
  }

  .second {
    order: 2;
    padding-left: 0px;
  }

  h4 {
    margin-bottom: 20px;
  }

  .block {
    width: 100%;
    margin-top: 0px;
  }

  .faq,
  .faq-item {
    width: 100%;
  }

  .question {
    font-size: 2rem;
  }

  .answer {
    font-size: 1.8rem;
  }

  .arr-down {
    width: 20px;
  }

  .footer-heading {
    font-size: 2.7rem;
  }

  .footer-desc {
    width: 70%;
    font-size: 1.8rem;
  }

  .copyright {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 550px) {
  html {
    font-size: 60%;
  }

  header {
    padding-bottom: 60px;
  }

  h1 {
    font-size: 2.6rem;
  }

  nav {
    display: none;
  }

  .menu {
    display: block;
    width: 30px;
    cursor: pointer;
  }

  .header-text {
    margin-top: 40px;
    width: 100%;
  }

  .desc {
    margin-bottom: 30px;
  }

  .learn {
    margin-bottom: 20px;
  }

  .text-block {
    width: 100%;
  }

  .value {
    /* margin-top: 40px; */
    height: 70rem;
  }

  .value-img {
    width: 60%;
  }

  .settings {
    margin-top: 0px;
  }

  .config-img {
    width: 70%;
  }

  .question {
    font-size: 1.9rem;
  }

  aside {
    flex-direction: column;
  }

  .footer-desc {
    width: 100%;
    margin-bottom: 30px;
  }

  div.socials {
    margin: auto;
  }

  .social-icons {
    width: 30px;
  }

  .mob-action:link,
  .mob-action:visited {
    color: #212529;
    text-decoration: none;
  }
}
