* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 130%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #339af0;
  overflow: hidden;
  z-index: -8;
}
.background li {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #228be6;
  color: transparent;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 11s ease-in forwards infinite;
}
undefined .background li:nth-child(0) {
  animation-delay: 0s;
  left: 4vw;
  top: 79vh;
}

.background li:nth-child(1) {
  animation-delay: 2s;
  left: 46vw;
  top: 95vh;
}

.background li:nth-child(2) {
  animation-delay: 4s;
  left: 67vw;
  top: 29vh;
  border-color: #1c7ed6;
}

.background li:nth-child(3) {
  animation-delay: 6s;
  left: 36vw;
  top: 17vh;
  border-color: #1c7ed6;
}

.background li:nth-child(4) {
  animation-delay: 8s;
  left: 94vw;
  top: 59vh;
}

.background li:nth-child(5) {
  animation-delay: 10s;
  left: 63vw;
  top: 7vh;
}

.background li:nth-child(6) {
  animation-delay: 12s;
  left: 10vw;
  top: 71vh;
  border-color: #1c7ed6;
}

.background li:nth-child(7) {
  animation-delay: 14s;
  left: 79vw;
  top: 43vh;
}

.background li:nth-child(8) {
  animation-delay: 16s;
  left: 82vw;
  top: 84vh;
}

.background li:nth-child(9) {
  animation-delay: 18s;
  left: 24vw;
  top: 23vh;
}

.background li:nth-child(10) {
  animation-delay: 20s;
  left: 37vw;
  top: 48vh;
}

body {
  width: 100%;
  max-width: 1500px;
  min-width: 350px;
  margin: auto;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  transition: all ease-in-out 0.8s;
  color: #212529;
  overflow-x: hidden;
}

header {
  color: white;
  height: 100%;
}

.navigations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.menu {
  display: none;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.8s;
}

nav li:hover {
  font-weight: 500;
  transition: inherit;
}

.button {
  cursor: pointer;
  padding: 10px 10px;
  color: #4dabf7;
  background-color: white;
  border-radius: 6px;
  margin-right: 0px;
}

.button:hover,
button:hover {
  background-color: rgba(255, 255, 255, 0.86);
}

button {
  display: inline-block;
  width: max-content;
  border: none;
  font-size: 2rem;
  margin: auto;
  transition: inherit;
  cursor: pointer;
}

.header-text {
  width: 70%;
  margin: 80px auto 50px auto;
  text-align: center;
}

.title {
  font-size: 4.5rem;
  line-height: 1.1;
  animation: title 1s ease-in-out;
}

@keyframes title {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}

.desc {
  width: 100%;
  margin: 20px auto;
  font-size: 1.8rem;
  line-height: 1.5;
  animation: desc 1.5s ease-in;
}

@keyframes desc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.learn {
  margin-bottom: 50px;
  animation: learn 0.7s ease-in;
}

@keyframes learn {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

.brands {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 30px;
}

.brand-image {
  color: gray;
}

section {
  background-color: white;
  padding: 80px 40px;
  border-top: 1px solid #dee2e6;
}

.brands {
  padding: 80px 30px;
}

.values {
  position: relative;
}

.values-desc {
  font-size: 2rem;
  color: #4dabf7;
  text-align: center;
}

.value {
  margin-top: 40px;
  padding-bottom: 40px;

  overflow: hidden;
  position: relative;
  height: 80rem;
}

figure {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  transition: transform 0.5s ease;
}

.btn {
  position: absolute;
  z-index: 10;
  border: none;
  background: rgba(217, 215, 215, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 3.25rem;
  cursor: pointer;
  top: 50%;
  cursor: pointer;
}

.btn-right {
  right: 30px;
}

.btn-left {
  left: 30px;
}

.btn p {
  width: max-content;
  margin: auto;
  font-size: 3.5rem;
  font-weight: 400;
  position: relative;
  top: 20%;
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

.fig-back {
  width: 80%;
  margin: auto;
  background-color: #e9ecef;
  border-radius: 10px;
  padding: 40px 30px;
}

figure h3 {
  font-size: 3.5rem;
}

.module-desc {
  font-size: 1.8rem;
  width: 80%;
  margin: 20px auto;
  line-height: 1.5;
}

.value-img {
  width: 70%;
  margin: 10px auto;
}

.hidden {
  display: none;
}

.set-text {
  width: 60%;
  margin-top: 50px;
  margin-bottom: 80px;
}

.settings-heading {
  font-size: 2.8rem;
}

.heading-desc {
  width: 90%;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 50px;
  line-height: 1.4;
}

.configs {
  padding: 30px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  margin-bottom: 50px;
}

.config-img {
  width: 40%;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #74c1fc26;
  margin-bottom: 10px;
}

.svgs {
  width: 30px;
  height: 30px;
  position: relative;
  left: 25%;
  top: 20%;
}

h4 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.config-desc {
  font-size: 1.8rem;
  line-height: 1.5;
}

.block {
  width: 70%;
  margin: auto;
  text-align: center;
}

.block-img {
  display: block;
  width: 80%;
  margin: auto;
}

.faq {
  width: 60%;
  margin: 30px auto;
  height: 200px;
  border: 1px solid #212529;
}

.faq-desc {
  color: #868e96;
  text-align: center;
  margin: 100px auto;
}

footer {
  width: 100%;
  padding: 40px;
  padding-bottom: 10px;
  background-color: #339af0;
  color: white;
}

aside {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}

footer h2 {
  color: white;
}

.footer-desc {
  margin-top: 10px;
  width: 60%;
  line-height: 1.5;
  font-size: 1.4rem;
}

.copyright {
  font-size: 1.4rem;
  text-align: center;
}

div.socials {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.social-icons {
  width: 30px;
  display: inline-block;
  cursor: pointer;
  margin-right: 30px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.271);
  backdrop-filter: blur(2px);
  z-index: 150;
  opacity: 1;
  transition: inherit;
}

.mobile-nav {
  position: fixed;
  width: 100%;
  top: 70px;
  z-index: 200;
  transition: inherit;
  opacity: 0;
}

.menus {
  width: 90%;
  margin: 0px auto;
  background-color: white;
  border-radius: 5px;
  font-size: 1.8rem;
}

.mobile-nav li {
  padding: 15px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.293);
  cursor: pointer;
  text-align: center;
  display: block;
  list-style-type: none;
  color: #212529;
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 60%;
  }

  .header-text {
    width: 80%;
    /* margin: 0px; */
  }

  .title {
    font-size: 4rem;
  }

  .brands {
    padding: 30px;
  }

  section {
    padding: 40px 30px;
  }

  .value {
    height: 65rem;
  }

  .fig-back {
    width: 95%;
    padding: 30px 20px;
  }

  figure h3 {
    font-size: 3rem;
  }

  .module-desc {
    width: 90%;
    font-size: 1.6rem;
  }

  .value-img {
    width: 60%;
  }

  .btn {
    width: 40px;
    height: 40px;
  }

  .btn-left {
    left: 5px;
  }

  .btn-right {
    right: 5px;
  }

  .btn p {
    font-size: 3rem;
    top: 10%;
  }

  .set-text {
    width: 100%;
    text-align: center;
    margin: 40px auto 65px auto;
  }

  .heading-desc {
    width: 100%;
  }

  .configs {
    width: 100%;
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .config-img {
    width: 60%;
  }

  .first {
    order: 1;
  }

  .second {
    order: 2;
  }

  .icon {
    margin: auto;
    margin-bottom: 10px;
  }

  .svgs {
    left: 0px;
  }

  h4 {
    margin-bottom: 20px;
  }

  .block {
    width: 90%;
  }

  .faq {
    width: 80%;
  }

  .footer-desc {
    width: 70%;
  }
}

@media only screen and (max-width: 550px) {
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(10) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }

  html {
    font-size: 55%;
  }

  h1 {
    font-size: 2.6rem;
  }

  nav {
    display: none;
  }

  .menu {
    display: block;
    width: 40px;
    cursor: pointer;
  }

  .header-text {
    margin-top: 40px;
    width: 90%;
  }

  .desc {
    margin-bottom: 30px;
  }

  .learn {
    margin-bottom: 20px;
  }

  .text-block {
    width: 100%;
  }

  .brands {
    padding-left: 10px;
    padding-right: 10px;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
  }

  aside {
    flex-direction: column;
  }

  .footer-desc {
    width: 100%;
    margin-bottom: 30px;
  }

  div.socials {
    margin: auto;
  }

  .social-icons {
    width: 30px;
  }
}
